@import "/src/index.css";

/* Footer */
.my-footer {
  background-color: var(--priCol);
  padding: 30px 20px;
  color: white;
  height: max-content;
  display: grid;
  grid-template-areas: "Logo Information Link Service Contact";
}

/* Logo Container */
.logo-container {
  grid-area: "Logo";
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo-section img {
  width: 10rem;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email-input input {
  border: none;
  outline: none;
  padding: 5px 10px;
  position: relative;
}

.envelope {
  position: absolute;
  z-index: 1;
  color: black;
  top: 50%;
  left: 50%;
}

/* Information */
.information {
  grid-area: "Information";
}

/* Link */
.quick-link {
  grid-area: "Link";
}

/* Services */
.services {
  grid-area: "Service";
}

/* Contact */
.contact {
  grid-area: "Contact";
}
