/* Footer */
.my-footer {
  background-color: var(--priCol);
  padding: 30px 20px;
  color: white;
  height: max-content;
  display: grid;
  font-family: Inter;
  border-radius: 0px;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

/* Logo Container */
.logo-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  width: max-content;
}

.footer-logo-section img {
  width: 10rem;
}

.footer-logo-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-form input[type="submit"] {
  width: 30%;
  height: 30px;
  background-color: #a7be28;
  color: white;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 0px;
}

.email-form input[type="email"] {
  border: none;
  outline: none;
  padding: 10px;
  position: relative;
  border-radius: 0px;
  width: 70%;
  color: var(--priCol);
}

.email-form input[type="email"]::placeholder {
  color: var(--priCol);
}

.envelope {
  position: absolute;
  z-index: 1;
  color: black;
  top: 50%;
  left: 50%;
}

/* Contact */
.contact {
  justify-self: flex-start;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links > p {
  font-size: 1.1em;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links-container a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 0.9em;
}

.my-footer .footer-icons {
  color: black;
  font-size: 1.4em;
}

.inner-footer-links {
  display: flex;
  gap: 10px;
}

.inner-footer-links .social-text {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .my-footer {
    row-gap: 20px;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    justify-items: center;
  }
  .logo-container {
    justify-self: flex-start;
  }
}

@media screen and (max-width: 690px) {
  .my-footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "Logo Logo"
      "Information Link"
      "Service Contact";
    justify-items: flex-start;
  }
  .logo-container {
    grid-area: Logo;
  }

  .information {
    grid-area: Information;
  }
  .quick-links {
    grid-area: Link;
  }
  .services {
    grid-area: Service;
  }
  .contact {
    grid-area: Contact;
  }
}

@media screen and (max-width: 450px) {
  .my-footer .footer-icons {
    font-size: 1.1em;
  }

  .inner-footer-links .social-text {
    font-size: 0.8em;
  }

  .my-footer {
    border-radius: 0px;
  }
}
