@import "/src/index.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Whole Home page*/
.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  height: max-content;
  padding: 20px;
}

/*------------------Start of Welcome & motivation header------------------*/

.home-page-Welcome-header {
  display: flex;
  height: 250px;
  justify-content: space-around;
  align-items: end;
  gap: 50px;
  margin: 0px 0px 40px 0px;
}

.bench_press-image {
  height: 100px;
}

.welcome-back-image {
  height: 180px; /* Maintain aspect ratio */
}

.muscle_man-image {
  height: 200px;
}

/*Image left side*/

.image-left {
  position: relative;
}

.Welcome-text-header1 {
  background-color: #f0ab3a;
  height: 160px;
  width: 450px;
  position: relative;
}

.text-welcome1 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: white;
  position: absolute;
  left: 10%;
  top: 10%;
  height: 30px;
}

.text-welcome2 {
  word-wrap: break-word;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: white;
  position: absolute;
  width: max-content;
  left: 37%;
  top: 45%;
  height: 50px;
}

.bench_press-image {
  position: absolute;
  bottom: 15px;
  left: 30px;
}

.muscle_man-image {
  position: absolute;
  top: -95px;
}

/*Image Right side*/

.image-right {
  position: relative;
}

.welcome-back-image {
  position: absolute;
  top: 5%; /* Moves image down */
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.image-right-profile {
  font-size: 55px;
}
.welcome-text-2-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Welcome-text-header2 {
  background-color: #f0ab3a;
  height: 160px;
  width: 310px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 10px;
  justify-content: space-around;
}

/* Start Now Button */

.start-now-button {
  background-color: #cbde61;
  height: 50px;
  width: 250px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

/* Makes the link fill the button */
.start-now-button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.start-now-button:hover {
  background-color: #c0d25f;
}

.start-now-button:active {
  background-color: #c0d25f;
}

.text-welcome3 {
  word-wrap: break-word;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 100%;
  height: 1px;
  background-color: gray;
  border: none;
}

/*------------------End of Welcome & motivation header------------------*/
/*------------------Start of Home page content------------------*/

/* Scroll on picture */
.home-page-content {
  display: grid;
  grid-template-rows: auto auto 3px auto auto 3px auto auto;
  margin-top: 20px;
  gap: 15px;
}

.home-page-content-bodybuilder {
  display: flex;
  overflow-x: auto;
  height: 65vh;
  gap: 10px;
}

.home-page-bodybuilder {
  width: 50vw;
  height: 60vh;
  flex-shrink: 0;
}

.home-page-content-bodybuilder::-webkit-scrollbar {
  width: 0px;
}

.content-name {
  font-family: "Inter", sans-serif;
  font-size: 20px; /* Use vw for text to scale with screen size */
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.home-page-content-generalnews {
  display: flex;
  overflow-x: auto;
  height: 65vh;
  gap: 10px;
}

.news-video {
  width: 50vw;
  height: 60vh;
  flex-shrink: 0;
}

.home-page-content-generalnews::-webkit-scrollbar {
  width: 0px;
}

/*------------------End of Home page content------------------*/
/*------------------Responsive------------------*/

@media screen and (max-width: 940px) {
  .muscle_man-image {
    width: 160px;
    height: 160px;
  }
  p.text-welcome1,
  p.text-welcome2 {
    font-size: 18px;
  }
  .bench_press-image {
    height: 90px;
    width: 105px;
  }
  .Welcome-text-header1 {
    width: 360px;
  }
  .image-right-profile {
    font-size: 40px;
  }
}

@media screen and (max-width: 755px) {
  .home-page-Welcome-header {
    flex-direction: column;
    align-items: start;
    height: max-content;
  }
  .image-left {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .home-page-content-bodybuilder,
  .home-page-content-generalnews {
    height: 300px;
    overflow-x: auto;
  }

  .news-video {
    width: 100%;
    height: auto;
  }

  .home-page-bodybuilder {
    width: 100%;
    height: auto;
  }

  .content-name {
    font-size: 24px;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
}
